<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Base Spring MVC application</title>
</head>
<body>
	<h1>UI-Elemente fuer das Formular</h1>
	<table>

		<tr th:each="element : ${elements}" th:switch="${element.type}">
			<td th:switch="${element.type}">
				<p th:case="'submit'">
					<input type="submit" th:name="${element.name}"
						th:value="${element.name}" />
				</p>
				<p th:case="'text'" th:inline="text">[[${element.name}]]		
			
					<input type="text" th:name="${element.name}" />
					
				</p>
				<p th:case="checkbox" th:inline="text">[[${element.name}]]				

					<input type="checkbox" th:name="${element.name}" />
				</p>
				<p th:case="number" th:inline="text">[[${element.name}]]

					<input type="number" th:name="${element.name}" min="1" max="5"
					th:label="${element.name}" />
				</p>
				<p th:case="label" th:inline="text">[[${element.name}]]</p>
				</td>
		</tr>



	</table>
</body>
</html>
